* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SEÇAO HERO - BANNER PRINCIPAL */
/* .container { */
/* max-width: 100%; */
/* margin: 0 auto; */
/* } */
.limite {
  width: 100%;
  margin: 0 auto;
}
.banner-principal .banner-bg {
  background: linear-gradient(45deg, #00c6b2 5%, #0039e6 70%, darkblue 100%);
  width: 100%;
  height: 808px;
  border-radius: 0 0 80px 80px;
  position: relative;
}

.banner-info {
  height: 248px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-ibcidade {
  width: 226.01px;
  height: 50px;
}

.banner-logo {
  display: flex;
  justify-content: center;
}
.img-inspiracao {
  width: 899px;
  height: 158.49px;
}

.tema {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-inscricao {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-inscricao a {
  background: linear-gradient(25deg, #ffa300 0%, #ed2737 40%, #ed2737 100%);
  text-decoration: none;
  border: none;
  text-align: center;
  border-radius: 12px;
  padding: 22px 100px;
  color: white;
  font-family: "Roboto";
  cursor: pointer;
}

.circulo1 {
  position: absolute;
  top: 80px;
  left: 200px;
}

.circulo2 {
  position: absolute;
  top: 0;
  right: 150px;
}

/* ///////////////// */
/* SEÇÃO INFORMAÇÕES ====================================================*/
.info {
  margin-top: 120px;
  margin-bottom: 120px;
  position: relative;
}
.info-limite {
  width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
}

.info-content {
  max-width: 562px;
  justify-self: end;
}
.info-content h2 {
  font-family: "Montserrat";
  margin-bottom: 32px;
  height: 100px;
  font-size: 40px;
  color: #00131a;
}
.info-content p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 48px;
  color: #3d4c5e;
}
.info-content .tags,
.horario-titulo .tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 24px;
  color: #00131a;
  width: 241px;
  margin-bottom: 0;
}
.info-content .tags a,
.horario-titulo .tags a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-content .tags a img,
.horario-titulo .tags a img {
  align-items: center;
}

.info-img {
  margin-bottom: 66px;
  position: absolute;
  top: 32px;
  right: 170px;
}
.back {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(45deg, #00c6b2 5%, #0039e6 70%, darkblue 100%);
  width: 750px;
  height: 421px;
  border-radius: 30px 0 0 0;
  z-index: -1;
}

/* SEÇÃO EVENTO ================================================================*/
.evento {
  background-color: #f2f6f8;
  margin-bottom: 120px;
}
.evento-limite {
  width: 1440px;
  height: 565px;
  margin: 0 auto;
  padding: 60px 112px 0 112px;
}
.evento-limite h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}
.evento-limite h3 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.evento-limite p {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.cards {
  display: grid;
  grid-template-columns: 264px 264px 264px;
  gap: 210px;
  position: absolute;
}
.card1,
.card2,
.card3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card2 {
  position: relative;
  top: 40px;
}

.card3 {
  position: relative;
  top: 100px;
}

.card2::before,
.card3::before {
  content: url("./assets/icons/iconeseta.svg");
  position: absolute;
  right: 120%;
}

/* SEÇÃO JUNTE-SE A NÓS =============================================================*/
.info-content .p-junte {
  width: 340px;
  margin-bottom: 0;
}

.btn-junte a {
  margin-top: 38px;
  display: inline-block;
  background: linear-gradient(25deg, #ffa300 0%, #ed2737 40%, #ed2737 100%);
  text-decoration: none;
  border: none;
  border-radius: 12px;
  padding: 22px 10px;
  color: white;
  font-family: "Roboto";
  cursor: pointer;
  width: 240px;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.info-video {
  position: absolute;
  top: -20px;
  right: 80px;
}

/* SEÇÃO PRELETORES =============================================================== */
.preletores {
  margin-top: 200px;
  height: 878px;
  background-color: #001923;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pre-h2 {
  width: 423px;
  height: 100px;
  left: 112px;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #fdfdfd;
  margin-bottom: 57px;
}
.swiper {
  width: 1216px;
  /* background-color: red; */
}

.swiper-button-next {
  --swiper-navigation-color: #ccc;
  padding: 20px;
  --swiper-navigation-size: 24px;
  background-color: #1d242d;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  right: 10px;
}
.swiper-button-next:hover {
  background-color: #ccc;
  --swiper-navigation-color: #000;
}
.swiper-button-prev {
  --swiper-navigation-color: #ccc;
  padding: 20px;
  --swiper-navigation-size: 24px;
  background-color: #1d242d;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  left: 1120px;
}
.swiper-button-prev:hover {
  background-color: #ccc;
  --swiper-navigation-color: #000;
}
/* HORARIO =============================================================*/
.horario {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
}
.horario-limite {
  display: flex;
  gap: 170px;
  width: 1440px;
  /* height: 565px; */
  margin: 0 auto;
  padding: 60px 112px 0 112px;
}
.horario-limite h1 {
  width: 541px;
  height: 100px;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 48px;
}
.horarios-content p {
  width: 512px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  justify-content: flex-end;
}

/* CARDS HORARIOS ==================================================================== */
.cards-limite {
  width: 1240px;
  height: 307px;
  margin: 0 auto 60px auto;
  border-radius: 25px;
  padding: 80px 50px 80px 80px;
  background: linear-gradient(45deg, #00c6b2 5%, #0039e6 70%, darkblue 100%);
}
.card {
  display: flex;
  gap: 150px;
  margin-bottom: 120px;
}
.programa {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.horas {
  display: flex;
  align-items: center;
  gap: 40px;
}
.horas span {
  width: 115px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
}
.horas p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #fdfdfd;
}

.dias span {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
.dias p {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #fdfdfd;
}

.cards-limite-sexta {
  width: 1240px;
  height: 307px;
  margin: 0 auto 60px auto;
  border-radius: 25px;
  padding: 80px 50px 80px 80px;
  background: #001923;
}
.dias .dias-segundo {
  color: #fff;
}
.cards-altura {
  height: 466px;
}

/* LOCALIZAÇÃO ==============================================================*/
.localizacao {
  width: 100%;
  background-color: #89b5c71a;
}
.localizacao-content {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 82px;
  padding: 110px;
}
.local-info h2 {
  width: 416px;
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
.local-info p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.01em;
  text-align: left;
}
.map iframe {
  width: 590px;
  height: 227px;
}

/* Precos =======================================================================*/
.preco-limite {
  width: 1230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.precos {
  background-color: #001923;
  padding: 120px 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preco-info h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 40px;
  color: #fdfdfd;
}
.preco-info p {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #fdfdfd;
  margin-bottom: 56px;
}

.preco-cards {
  display: grid;
  grid-template-columns: 356px 356px 356px;
  gap: 82px;
}
.card-preco {
  width: 350px;
  height: 488px;
  padding: 30px;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  position: relative;
}

.card-preco::before {
  content: "";
  position: absolute;
  top: 0;
  left: 40px;
  width: 324px;
  height: 504px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #00c6b2 5%, #0039e6 70%, darkblue 100%);
  z-index: -1;
}

.card-preco h3 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #3d4c5e;
  position: relative;
}
.card-preco h3::before {
  content: url("./assets/icons/line.png");
  position: absolute;
  top: 5px;
  left: -10px;
}

.card-preco h4 span {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0px;
  text-align: left;
  color: #00131a;
}

.card-preco h4::after {
  content: url("./assets/icons/retangulo.png");
  position: relative;
  top: 8px;
}
.card-preco p {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #3d4c5e;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.card-preco p:not(.alert)::before {
  content: url("./assets/icons/confirmapreco.png");
  position: relative;
  top: 8px;
  left: -10px;
}

.alerta {
  margin-top: 8px;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
}
.m-alerta {
  margin-bottom: 92px;
}

.btn-preco a {
  margin-top: 16px;
  display: inline-block;
  background: linear-gradient(25deg, #ffa300 0%, #ed2737 40%, #ed2737 100%);
  text-decoration: none;
  border: none;
  border-radius: 12px;
  padding: 22px 10px;
  color: white;
  font-family: "Roboto";
  cursor: pointer;
  width: 276px;
  text-align: center;
}

.info-content .p-junte {
  width: 340px;
  margin-bottom: 0;
}
